#about-me-sectn{
  margin-top: 20vh;
  margin-bottom: 10%;
  color: #222;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#about-me-sectn img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.ball {
  pointer-events: none;
  position: absolute; 
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background: gray;
  animation: implode 1s ease-in-out;
  animation-fill-mode: both;
  opacity: .5;
}

@keyframes implode {
  100% {transform: scale(0)}
}

#abt-1{
  padding-left: 10%;
  font-size: calc(10px + 1vw);
  line-height: 1.5em;
}

#abt-1 div{
  border-bottom: 2px solid black;
}

@media screen and (max-width: 700px){
  #about-me-sectn img{
    width: 100px;
    height: 133px;
  }
  #abt-1{
    padding-left: 5%;
    padding-top: 10%;
  }
}