#footer{
  background-color: #fff;
  overflow: auto;
  text-align: center;
}

#footer #footer-head{
  text-align: center;
  color: #222;
  font-size: calc(15px + 1.3vw);
  margin: 5% auto 3% auto;
  overflow: hidden;
  white-space: nowrap;
}

.footer-links{
  font-size: calc(5px + 5vh);
}

.footer-icons{
  color: black;
  font-size: 100%;
  margin: 2% 3%;
}

.footer-links:hover .footer-icons{
  opacity: 0.7;
}