.divider{
  width: 70%;
  height: 1px;
  margin: 0 15%;
  background: linear-gradient(to right, #fff, #aaa, #fff);
}

#footer{
  background-color: #04091e;
  overflow: auto;
  text-align: center;
  color: white;
}

#footer-head{
  text-align: center;
  font-size: calc(10px + 1.3vw);
  margin: 5% auto 3% auto;
  overflow: hidden;
  white-space: nowrap;
}

.footer-links{
  font-size: calc(1px + 5vh);
}

.footer-icons{
  color: white;
  font-size: 100%;
  margin: 2% 3%;
}

.footer-links:hover .footer-icons{
  opacity: 0.7;
}