body {
    margin: 0;
    color: #222;
    font-family: "poppins", sans-serif;
}

header {
    padding: 1%;
    background-color: white;
    position: fixed;
    width: 100%;
    display: block;
    top: 0;
}

#initbackground{
    background-color: #f9f9ff;
}

#logo-link {
    text-decoration: none;
}

#name-in-header {
    color: #222;
    text-decoration: none;
    font-family: "poppins";
}

.nav-item2 {
    text-align: center;
    padding-left: 2%;
    font-size: 30px;
    float: left;
    line-height: 2;
    font-size: calc(15px + 1vw);
}

.nav-item3{
    float: right;
    font-size: 20px;
    line-height: 2;
}

.nav-item3 a{
    padding-right: 20px;
}

.menu-links {
    width: 25%;
    margin: 0;
    text-decoration: none;
    color: #222; /*63AA9C*/
    font-family: "poppins";
    font-size: calc(10px + 0.5vw);
}

.dropdown{
    position: relative;
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 200%;
    margin-left: -130%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
}

.dropdown-content a{
    color: #222;
    display: block;
    padding: 12px 0 12px 10px;
    text-decoration: none;
    font-size: calc(10px + 0.5vw);
}

.show{
    display: block;
}

#two:hover ~ hr {
  margin-left: 30%;
  width: 26%;
}

#three:hover ~ hr {
  margin-left: 66%;
  width: 24%;
}

hr {
  height: .15rem;
  width: 20%;
  margin: 0;
  background: #62bdfc;
  border: none;
  transition: .3s ease-in-out;
}

@media screen and (max-width: 720px) {
    header {
        padding: 0;
    }
    .nav-item2 {
        line-height: 2;
    }
    .nav-item3 .menu-links{
        display: none;
    }
    #menu-link-hr{
        display: none;
    }
    .dropdown{
        display: block;
    }
}