#my-project-sectn{
  padding: 5% 010% 0;
  overflow: auto;
}

#project-sectn-head{
  font-size: calc(15px + 1.3vw);
  text-align: center;
  padding: 5% 0 0 0;
}

.project-item {
  width: 20%;
  height: 20vw;
  float: left;
  border: 2px solid #222;
  margin: 5%;
  overflow: auto;
}

.project-item img{
  width: 100%;
  height: 60%;
}

.project-item div{
  text-align: center;
  margin-top: 15%;
  font-size: calc(5px + 1vw);
}

.project-item:hover{
  opacity: 0.7;
}

@media screen and (max-width: 612px){
  .project-item{
    width: 30%;
    margin: 7%;
    height: 40vw;
  }
}

@media screen and (max-width: 345px){
  .project-item{
    width: 60%;
    margin: 15%;
    height: 60vw;
  }
}